
@{
    ViewBag.Title = "HuongDanTraCuu";
    Layout = "~/Views/layout/NavbarFooter.cshtml";
}

<h3 class="mt-5">&nbsp</h3>
<figure class="text-center mt-5">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark fst-italic" title="Source Title">@ViewBag.Message</h2>
    </figcaption>
</figure>
<div class="container">
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh8.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">
            Ở giao diện màn hình trang chủ website, nhấn vào <strong>TRA CỨU</strong> trên thanh menu.
        </h3>

        <h3 class="text-center">Màn hình <strong>Trang Tra Cứu</strong> sẽ xuất hiện</h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh6.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Người dùng cần nhập <strong>CMND</strong> để tìm thông tin lịch sử đã đăng ký lịch đăng kiểm</h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh7.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Sau khi nhấn  <strong>TRA CỨU</strong>, nếu tìm thấy thông tin, hệ thống sẽ hiện thông tin đăng ký của khách hàng dưới dạng bảng</h3>
    </div>
</div>

