
@{
    ViewBag.Title = "HuongDanDangKy";
    Layout = "~/Views/layout/NavbarFooter.cshtml";
}

<h3 class="mt-5">&nbsp</h3>
<figure class="text-center mt-5">
    <figcaption class="blockquote-footer">
        <h2 class="text-dark fst-italic" title="Source Title">@ViewBag.Message</h2>
    </figcaption>
</figure>
<div class="container">
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh1.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">
            Ở giao diện màn hình trang chủ website, nhấn vào <strong>ĐĂNG KÝ LỊCH</strong> trên thanh menu.
        </h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh9.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Màn hình <strong>Trang Đăng Ký Lịch</strong> sẽ xuất hiện</h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh2.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Để đăng ký Lịch, người dùng cần nhập đầy đủ các thông tin như hình bên trên bao gồm:</h3>
        <ul>
            <li class="h4"><strong>CMND:</strong> Khách hàng phải nhập đủ 12 số và không được nhập ký tự khác ngoài chữ số<strong class="text-danger">(Số 1)</strong></li>
            <li class="h4"><strong>Họ và tên chủ xe:</strong> Khách hàng chỉ được nhập chữ viết hoa hoặc viết thường, và không được nhập sô<strong class="text-danger">(Số 2)</strong></li>
            <li class="h4"><strong>Số điện thoại:</strong> Khách hàng phải chỉ được nhập 10 chữ số. Không được nhập ký tự khác ngoài chữ số<strong class="text-danger">(Số 3)</strong></li>
            <li class="h4"><strong>Email:</strong> Khách hàng phải nhập đúng định dạng email và phải nhập đúng email<strong class="text-danger">(Số 4)</strong></li>
            <li class="h4"><strong>Biển số xe:</strong> Khách hàng phải nhập đúng định dạng và đúng biển số xe cần đăng kiểm<strong class="text-danger">(Số 5)</strong></li>
            <li class="h4"><strong>Ngày hết hạn đăng kiểm:</strong> Khách hàng phải có thể ghi theo định dạng có sẵn hoặc click vào biểu tượng <i class="fas fa-calendar"></i> để chọn ngày<strong class="text-danger">(Số 6)</strong></li>
            <li class="h4"><strong>Màu biển số:</strong> Khách hàng chọn một trong 2 loại biển số muốn đăng kiểm<strong class="text-danger">(Số 7)</strong></li>
            <li class="h4"><strong>Loại xe:</strong> Khách hàng chọn loại xe muốn đăng kiểm<strong class="text-danger">(Số 8)</strong></li>
            <li class="h4"><strong>Khu vực:</strong> Khách hàng chọn khu vực sinh sống<strong class="text-danger">(Số 9)</strong></li>
            <li class="h4"><strong>Ngày đăng kiểm:</strong> Khách hàng phải có thể ghi theo định dạng có sẵn hoặc click vào biểu tượng <i class="fas fa-calendar"></i> để chọn ngày<strong class="text-danger">(Số 10)</strong></li>
        </ul>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh3.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Sau khi nhập đầy đủ thông tin, Nhấn nút <strong>ĐĂNG KÝ</strong> màu xanh để đăng ký lịch</h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh4.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Sau khi nhấn <strong>ĐĂNG KÝ</strong>, nếu đúng và đủ thông tin, thông báo <strong>Đăng ký thành công</strong> sẽ xuất hiện</h3>
    </div>
    <div class="row gx-5 mt-5">
        <img src="~/Controllers/image/hinh5.jpg" class=" w-60 mx-auto d-block" alt="...">
        <h3 class="text-center">Sau khi nhấn  <strong>ĐĂNG KÝ</strong>, nếu thiếu thông tin, thông báo <strong>Đăng ký thất bại</strong> sẽ xuất hiện để yêu cầu khách hàng kiểm tra lại thông tin</h3>
    </div>
</div>

